.App {
  display: grid;
  height: 100vh;
}

.App-menu {
  grid-template-rows: 50px 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'NavBar  NavBar'
    'Menubar Main';
}

.App-no-menu {
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'NavBar'
    'Main';
}

.NavBar {
  grid-area: NavBar;
}

.Menubar {
  grid-area: Menubar;
}

.Main {
  grid-area: Main;
}

/* @media (min-width: 1000px) {
  .App {
  }
} */
